Repository MicrosoftDocs/power-automate-docs, pull requests merged in 2021-09, with the labels that each got.

#541 Fixing some spelling errors
  articles/create-instant-flows.md
  articles/desktop-flows/edit-desktop.md
  articles/desktop-flows/run-desktop-flow.md
  articles/desktop-flows/run-pad-flow.md
  articles/forms/troubleshoot-issues.md
  articles/gdpr-dsr-delete.md
  articles/gdpr-dsr-discovery-msa.md
  articles/gdpr-dsr-discovery.md
  articles/glossary.md
  articles/multi-step-logic-flow.md
  articles/teams/approvals-custom-connector.md
  articles/trigger-flow-powerbi-report.md
  articles/trigger-sharepoint-list.md
  articles/us-govt.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc

#568 Update variable-data-types.md
  articles/desktop-flows/variable-data-types.md
Labels: power-automate/svc, Change sent to author, desktop-flow/subsvc, ready-to-merge

#566 Update export-flow-solution.md
  articles/export-flow-solution.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc

#565 Update dynamics365-rpa-overview.md
  articles/desktop-flows/dynamics365-rpa-overview.md
Labels: do-not-merge, power-automate/svc, Change sent to author, desktop-flow/subsvc

#567 Update retry policy information
  articles/limits-and-config.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc

#562 Correcting a few broken links
  articles/dataverse/bound-unbound.md
  articles/dataverse/flows-power-apps.md
  articles/dataverse/get-row-id.md
  articles/dataverse/list-rows.md
  articles/introduction-to-data-groups.md
  articles/ip-address-configuration.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc
