Repository MicrosoftDocs/power-automate-docs, pull requests merged in 2022-08, with the labels that each got.

#769 Updating Power Apps v2 trigger to invoker connection
  articles/approvals-known-issues.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc, qualifies-for-auto-merge

#781 Update machines-silent-registration.md
  articles/desktop-flows/machines-silent-registration.md
Labels: do-not-merge, power-automate/svc, Change sent to author, desktop-flow/subsvc, qualifies-for-auto-merge

#786 Resolve syncing conflicts from repo_sync_working_branch to main
  articles/approvals-known-issues.md
  articles/desktop-flows/hosted-rpa-bots.md
  articles/desktop-flows/install.md
  articles/desktop-flows/manage-machine-groups.md
  articles/desktop-flows/manage-machines.md
  articles/desktop-flows/manage.md
  articles/desktop-flows/recording-flow.md
  articles/prevent-data-loss.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc

#777 Update trigger-flow-powerbi-report.md
  articles/trigger-flow-powerbi-report.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc, qualifies-for-auto-merge

#773 Missing Limitation
  articles/trigger-flow-teams-message.md
Labels: do-not-merge, power-automate/svc, Change sent to author, cloud-flow/subsvc, qualifies-for-auto-merge
