Repository MicrosoftDocs/power-automate-docs, pull requests merged in 2022-11, with the labels that each got.

#844 Update scripting.md
  articles/desktop-flows/actions-reference/scripting.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, desktop-flow/subsvc

#822 Updated Performance profiles
  articles/limits-and-config.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, cloud-flow/subsvc

#853 Adjusting dates for child flows DLP rollout
  articles/prevent-data-loss.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, cloud-flow/subsvc

#864 Update Install On-premises data gateway link
  articles/desktop-flows/install.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, desktop-flow/subsvc

#863 PPAC feature flag toggle in PPAC
  articles/desktop-flows/hosted-rpa-bots.md
  articles/desktop-flows/media/hosted-rpa-bots/enable-creation-hosted-rpa-bots.png
Labels: do-not-merge, power-automate/svc, Change sent to author, needs-human-review, desktop-flow/subsvc
