Repository MicrosoftDocs/power-automate-docs, pull requests merged in 2023-01, with the labels that each got.

#887 Update how-tos-restore-deleted-flow.md
  articles/how-tos-restore-deleted-flow.md
Labels: ready-to-merge

#888 Resolve syncing conflicts from repo_sync_working_branch to main
  articles/TOC.yml
  articles/business-process-flows-overview.md
  articles/desktop-flows/diagnostic-data.md
  articles/desktop-flows/install-browser-extensions.md
Labels: do-not-merge, power-automate/svc, Change sent to author, needs-human-review, cloud-flow/subsvc, desktop-flow/subsvc

#880 Update feedback-support.md
  articles/guidance/automation-kit/feedback-support.md
Labels: do-not-merge, power-automate/svc, Change sent to author, guidance/subsvc, qualifies-for-auto-merge
