Repository MicrosoftDocs/power-automate-docs, pull requests merged in 2024-03, with the labels that each got.

#1142 Update create-adaptive-cards.md
  articles/create-adaptive-cards.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, cloud-flow/subsvc

#1192 Update group-approvals.md
  articles/group-approvals.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge

#1202 Update create-custom-actions.md
  articles/desktop-flows/create-custom-actions.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, desktop-flow/subsvc

#1239 Update flows-designer.md
  articles/flows-designer.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, cloud-flow/subsvc

#1247 Update create-adaptive-cards.md
  articles/create-adaptive-cards.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, cloud-flow/subsvc

#1262 Update user-journey.md
  articles/guidance/business-approvals-templates/user-journey.md
Labels: do-not-merge, power-automate/svc, Change sent to author, guidance/subsvc, qualifies-for-auto-merge

#1263 Update approvals-kit-comparison.md
  articles/guidance/business-approvals-templates/approvals-kit-comparison.md
Labels: do-not-merge, power-automate/svc, Change sent to author, guidance/subsvc, qualifies-for-auto-merge

#1317 minor grammar / clearity fix
  articles/desktop-flows/machine-group-certificates-admins.md
Labels: do-not-merge, power-automate/svc, Change sent to author, qualifies-for-auto-merge, desktop-flow/subsvc

#1339 Update register-custom-api.md
  articles/developer/register-custom-api.md
Labels: do-not-merge, power-automate/svc, Change sent to author, Developer/subsvc, qualifies-for-auto-merge
